<div class="om-container-flex">
    <h2 class="heading">
        <span class="title">
            Aplicaciones
        </span>
        <a routerLink="new" class="om-button-flex">
            Nueva Aplicaci&oacute;n
        </a>
    </h2>
    <p class="description">
        Las aplicaciones te permiten conectarte a nuestros servidor de OAuth2.0 y proveer autenticaci&oacute;n
        a tus aplicaciones utilizando nuestros servicios.
    </p>
    <div class="apps">
        <h3 class="heading">
            Creadas
        </h3>
        <div class="content">
            <div class="card" *ngFor="let app of apps">
                <img class="card__image" src="assets/images/disconnected.png" alt="Application's name">
                <div class="card__body">
                    <h4 class="name">App1</h4>
                </div>
            </div>
        </div>
    </div>
</div>