<header class="navbar">
	<div class="container">
		<a routerLink="home" routerLinkActive="active" class="brand">
			<img
				class="logo"
				src="assets/logos/om-logo.svg"
				alt="Main Our Mall aplication logo"
			/>
			<span class="text">for Devs</span>
		</a>
		<nav>
			<app-nav-link *ngFor="let link of navLinks" [name]="link.name" [route]="link.route" [routeActiveClassName]="link.routeClassActive" ngClass="link"></app-nav-link>
			<a routerLink="login" routerLinkActive="button__active" class="link__button">
				<span>Log in</span>
				<i class="icon uil uil-signout"></i>
			</a>
		</nav>
	</div>
</header>
