<header class="navbar">
	<div class="container">
		<a routerLink="home" routerLinkActive="active" class="brand">
			<img
				class="logo"
				src="assets/logos/om-logo-2.svg"
				alt="Main Our Mall aplication logo"
			/>
			<span class="text">for Developers</span>
		</a>
		<nav>
			<a routerLink="products" routerLinkActive="active" class="link">
				<i class="icon uil uil-apps"></i>
				Productos
			</a>
			<a routerLink="docs" routerLinkActive="active" class="link">
				<i class="icon uil uil-files-landscapes-alt"></i>
				Documentaci&oacute;n
			</a>
			<a routerLinkActive="active" class="link" (click)="redirect()">
				<i class="icon uil uil-window"></i>
				Consola
			</a>
		</nav>
	</div>
</header>
