@use "variables";

/* SECTIONS
================================================
*/

.section {
    display: block;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    min-height: 100%;
}

/*
================================================
*/