/* GLOBAL VARIABLES */

// FONT
$font-family: null !default;
$font-size: 16px !default;
$h1-font-size: 2 * $font-size !default;
$h2-font-size: 1.5 * $font-size !default;
$h3-font-size: 1.25 * $font-size !default;
$h4-font-size: 1 * $font-size !default;
$h5-font-size: 0.85 * $font-size !default;
$h6-font-size: 0.5 * $font-size !default;

// COLORS
$main-color: #0086e6;
$main-alt-color: #0068b3;
$dark-color: #18191b;
$dark-alt-color: #0c0c0d;
$light-color: #ffffff;
$light-alt-color: #f8f7f7;